@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    background-image: url("./assets/home-background.png");
    background-repeat: no-repeat;
    background-size: 1539px 750px;
    background-color: #290003;
}

header {
    width: 100%;
    height: 60px;
    background: transparent;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: rgb(0, 0, 0) 2px 2px 10px 2px;
    text-align: right;
    padding: 20px;
}

.links {
    color: #ffffff;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    padding: 20px;
    margin-left: 10px;
}

.links:hover {
    opacity: 0.8;
}

h1 {
    position: absolute;
    width: 520px;
    height: 100px;
    margin-left: 75px;
    margin-top: 100px;

    font-weight: 300;
    font-size: 60px;
    line-height: 100px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

p {
    position: absolute;
    width: 520px;
    height: 0px;
    margin-left: 75px;
    margin-top: 270px;

    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

span {
    position: absolute;
    width: 520px;
    height: 24px;
    margin-left: 75px;
    margin-top: 390px;
    
    
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

input {
    position: absolute;
    width: 350px;
    height: 55px;
    margin-left: 75px;
    margin-top: 430px;
    background: rgb(89, 2, 9, 0.5);
    border-radius: 16px;
    padding: 15px;
    border: none;
    outline: 0;
    color: #ffffff;
    font-size: 14px;
}

input::placeholder {
    color: #afafaf;
}

button {
    position: absolute;
    width: 150px;
    height: 55px;
    margin-left: 430px;
    margin-top: 430px;

    background: linear-gradient(0deg, rgba(4, 8, 13, 0.4), rgba(4, 8, 13, 0.4)), #024959;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
}

button:hover {
    opacity: 0.8;
}

@media (max-width: 800px) {

    header {
        text-align: center;
    }

    h1 {
        width: 400px;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    span {
        font-size: 17px;
    }
}

@media (max-width: 645px) {
    
}